@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica;
  src: url("./fonts/Helvetica.ttf");
}

@font-face {
  font-family: maison;
  src: url("./fonts/Maison_Neue_Book.ttf");
}

@font-face {
  font-family: organetto;
  src: url("./fonts/organetto-expregular.otf");
}

@font-face {
  font-family: organettoex;
  src: url("./fonts/organetto-expultrabold.otf");
}

@font-face {
  font-family: "Protrakt";
  src: url("./fonts/911porschav3bold.ttf");
}

@font-face {
  font-family: avenir;
  src: url("./fonts/avenir-55-roman-05173.ttf");
}

@font-face {
  font-family: montesrrat;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: montesrratlight;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: makromed;
  src: url("./fonts/MakroTrial-Semibold.otf");
}

@font-face {
  font-family: makroreg;
  src: url("./fonts/MakroTrial-Light.otf");
}

@font-face {
  font-family: ttcommonpro;
  src: url("./fonts/tt_commons_pro_regular.otf");
}

@font-face {
  font-family: dmsans;
  src: url("./fonts/DMSans_24pt-Light.ttf");
}

@font-face {
  font-family: redhat;
  src: url("./fonts/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: naville;
  src: url("./fonts/Naville-Regular.ttf");
}

@font-face {
  font-family: podium;
  src: url("./fonts/Fontspring-DEMO-podiumsharp-3.11.otf");
}

@font-face {
  font-family: nemorosa;
  src: url("./fonts/Nemorosa-Regular.otf");
}

@font-face {
  font-family: soltz;
  src: url("./fonts/3418-font.otf");
}

:root {
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {}

body {
  background-color: var(--bg);
  scrollbar-width: thin;
  /* "thin" or "auto" */
  scrollbar-color: #999999 #f0f0f0;
  /* thumb color, track color */
  overflow-y: scroll;
  /* Always show scrollbar */
}

/* For WebKit browsers */
/* ::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar 
} */

/* ::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color 
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #999999; /* Thumb color 
  border-radius: 10px; /* Rounded corners 
  border: 2px solid #f0f0f0; /* Border color 
} */

@layer utilities {}