@font-face {
    font-family: helvetica;
    src: url("./fonts/Helvetica.ttf");
}

@font-face {
    font-family: maison;
    src: url("./fonts/Maison_Neue_Book.ttf");
}

@font-face {
    font-family: organetto;
    src: url("./fonts/organetto-expregular.otf");
}

@font-face {
    font-family: organettoex;
    src: url("./fonts/organetto-expultrabold.otf");
}

@font-face {
    font-family: "Protrakt";
    src: url("./fonts/911porschav3bold.ttf");
}

@font-face {
    font-family: avenir;
    src: url("./fonts/avenir-55-roman-05173.ttf");
}

@font-face {
    font-family: montesrrat;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: montesrratlight;
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: makromed;
    src: url("./fonts/MakroTrial-Semibold.otf");
}

@font-face {
    font-family: makroreg;
    src: url("./fonts/MakroTrial-Light.otf");
}

@font-face {
    font-family: ttcommonpro;
    src: url("./fonts/tt_commons_pro_regular.otf");
}

@font-face {
    font-family: dmsans;
    src: url("./fonts/DMSans_24pt-Light.ttf");
}

@font-face {
    font-family: redhat;
    src: url("./fonts/RedHatDisplay-Regular.ttf");
}

@font-face {
    font-family: naville;
    src: url("./fonts/Naville-Regular.ttf");
}

@font-face {
    font-family: podium;
    src: url("./fonts/Fontspring-DEMO-podiumsharp-3.11.otf");
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.full-screen {
    flex: 0 0 100vw;
    /* Makes each section take up 100% of the container width */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.slider-container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    width: 400vw;
    opacity: 0;
}

.panels {
    transition: background-color 1s ease;
}

#section-1 {
    overflow: visible;
    background-color: #FFFFFF;
    position: relative;
}

#section-2 {
    overflow: visible;
    position: relative;

}

#section-3 {
    position: relative;
    overflow: visible;

}

#section-4 {
    position: relative;
    overflow: visible;

}

.cnt-for-h {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 780px;
    transform: translate(-50%, -50%);
}

.sec-1-btn {
    height: 50px;
    width: 200px;
    background-color: #2E4BF5;
    color: #FFFFFF;
    font-size: 10px;
    font-family: montesrratlight;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

#sub-script {
    font-family: ttcommonpro;
    font-size: 22px;
    width: 800px;
}

#section-1 h1 {
    font-family: organetto;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 15px;
    opacity: 0;
}

#section-1 sup {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0px;
}

#section-1 p {
    margin-top: 50px;
    font-family: makroreg;
    color: #646161dd;
    font-size: 13px;
    letter-spacing: 1.6px;
    opacity: 0;
}

#section-1 p sup {
    font-size: 10px;
}

#section-1 p span {
    font-family: organetto;
    font-weight: lighter;
}

#bench {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Maintain aspect ratio */
}

.bench-container {
    position: absolute;
    left: -50px;
    bottom: 0px;
    width: 300px;
    height: 150px;
}

.birds {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 60px;
    height: 30px;
}

.birds svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Maintain aspect ratio */
}

.clouds {
    position: absolute;
    right: 20px;
    top: 60px;
    width: 371px;
    height: 50px;
}

.clouds svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Maintain aspect ratio */
}

/******** THE GLOBE START ***********/

#my-globe-svg * {
    transform-box: fill-box;
}

#my-globe-svg {
    position: absolute;
    opacity: 1;
    right: 0px;
    top: -170px;
    opacity: 0;
}

[id^="star"] {
    transform-origin: center;
    animation: globestars 3s ease-in-out infinite;
}

#star_2 {
    animation-delay: 0.5s;
}

#star_3 {
    animation-delay: 1s;
}

#star_4 {
    animation-delay: 1.5s;
}

#Globe {
    transform-origin: center;
    animation: globe 4s linear infinite;
}

@keyframes globestars {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }
}

@keyframes globe {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#hills {
    position: absolute;
    bottom: -80px;
    right: -100px;
    opacity: 0;
}

#akaar-presents {
    position: fixed;
    top: 5%;
    left: calc(50vw);
    transform: translate(-50%, -5%);
    font-family: organettoex;
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bolder;
    opacity: 0;
    z-index: 999;
}

#scroll-assist {
    position: absolute;
    bottom: 20px;
    left: calc(50vw);
    transform: translateX(-50%);
}

#scroll-assist :nth-child(1) {
    background-color: #2E4BF5;
    height: 30px;
    width: 50px;
    border-radius: 20px;
}

#scroll-assist :nth-child(2),
#scroll-assist :nth-child(3),
#scroll-assist :nth-child(4) {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}



#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #ffffff;
    z-index: 99;
}

#full-screen-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #1d1c1ce5;
    z-index: 99;

}

.text-shadow {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white
}

#fscreen {
    width: 70%;
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 85px;

}


#fscreen iframe {
    height: 100%;
    width: 100%;
}

#loading-image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.text-container {
    overflow: hidden;
    position: relative;
    margin-top: 15%;
}

.masked-text {
    font-family: organetto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 18px;
    color: gray;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: right;
}

#lang-btn {
    font-family: Protrakt;
    font-size: 12px;
    position: fixed;
    bottom: 35px;
    left: 35px;
    background-color: #F5F6FF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #2E4BF5;
    z-index: 999;
}


/************************************* section 2 ****************************/

#wedding-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.9;
}

.akaar-wedstyle {
    text-align: center;
    width: auto;
    font-size: 18vw;
    letter-spacing: 5px;
    font-weight: bolder;
    position: absolute;
    font-family: naville;
    color: black;
    overflow: visible;
}

#section-2 .akaar-wedstyle {
    overflow: visible;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#section-4 .akaar-wedstyle {
    overflow: visible;
    left: -42%;
    top: 50%;
    transform: translate(0%, -50%);
}

#section-3 .akaar-wedstyle {
    top: auto;
    left: 10px;
    transform: translate(0%, 0%);
    bottom: -60px;
}

#sub-tag-wed {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgb(249, 158, 0);
}

#wed-clock {
    position: absolute;
    top: 60px;
    left: 450px;
    width: 10.5vw;
    height: 16.2vh;
    opacity: 0.6;
}

#floor-lamp {
    position: absolute;
    top: 40%;
    right: 50px;
    width: 7.9vw;
    height: 47.3vh;
}

#sofa {
    position: absolute;
    top: 50%;
    left: 250px;
    width: 15.4vw;
    height: 25.6vh;

}

#now-booking-wed {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FFBC10;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-family: montesrratlight;
    color: white;
    font-size: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

/*************** section 3*****************/

#fashion-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.9;
}

#cealling-lamp * {
    transform-box: fill-box;
}

#cealling-lamp #Group_2,
#cealling-lamp #Group_12 {
    transform-origin: top;
}

#cealling-lamp {
    position: absolute;
    top: -10px;
    left: 10%;
    overflow: visible;
}

#windows {
    position: absolute;
    top: 78%;
    left: 10%;
    transform: translateY(-78%);
    width: 12.9vw;
    height: 39.4vh;
}

#cealling-lamp {
    /* width: 12.8vw;
    height: 31.4vh; */
    width: 148px;
    height: 226px;
}

#section-2 #cealling-lamp {
    right: 20%;
    left: auto;
}

#section-4 #cealling-lamp {
    left: 20%;
}

#fashion-illus svg {
    width: 21.5vw;
    height: 55.9vh;
}

#mirror {
    position: absolute;
    right: 10%;
    top: 46%;
    width: 12.2vw;
    height: 39.7vh;
    transform: rotate(0deg);
}

#now-booking-fashion {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FF2424;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-family: montesrratlight;
    color: white;
    font-size: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

#sub-tag-fashion {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px #FF2424;
}

#now-booking-commercials {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #7800B0;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-family: montesrratlight;
    color: white;
    font-size: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

#sub-tag-commercials {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    /* color: #454440dd; */
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px #7800B0;
}

/***************** section 4************************/

#commercials-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.9;
}

#commercials-illus svg {
    width: 21.5vw;
    height: 55.9vh;
}

#sofa-1 {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 34.3vw;
    height: 28.6vh;
}

/*****************section 5 *************************/

.sec-5-side-h {
    font-family: podium;
    color: rgb(92, 92, 92);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 92px;
    font-weight: bolder;
    width: 200px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #7800B0;
    padding-left: 30px;
    line-height: 1;
}

#section-5 .p1,
#section-5 .p2,
#section-5 .p3 {
    font-family: montesrrat;
    color: rgb(92, 92, 92);
}

.para-para{
    position: absolute;
    top: 50%;
    right: 20%;
}

#section-5 .p1 {
    /* position: absolute;
    top: 400px;
    right: 20%; */
    width: 400px;

}

#section-5 .p2 {
    /* position: absolute;
    top: 1100px;
    right: 20%; */
    width: 400px;
    margin-top: 700px;
}

#section-5 .p3 {
    /* position: absolute;
    top: 1600px;
    right: 20%; */
    width: 400px;
    margin-top: 700px;
}

.sec-p-head {
    position: absolute;
    top: 20%;
    right: 5px;
}

.sec-p-head p {
    margin-top: 20px;
    font-family: montesrratlight;
    width: 400px;
    font-size: 14px;
    color: rgb(99, 99, 99);
    word-spacing: 3px;
}

#get-in-touch-fashion {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #FF2424;
    color: white;
    font-family: montesrratlight;
    font-size: 10px;
}

#get-in-touch-wed {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #EDB62B;
    color: white;
    font-family: montesrratlight;
    font-size: 10px;
}

#get-in-touch-commercial {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #7800B0;
    color: white;
    font-family: montesrratlight;
    font-size: 10px;
}

#section-6 .sec-p-head {
    left: 5px;
    right: auto;
}

#section-5 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
}

#section-5 #wave {
    position: absolute;
    top: -5px;
}

.portfolio-grid {
    overflow: hidden;
    position: relative;
    max-width: 1340px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-template-areas: "left1 right1";
    margin-top: 20px;
    /* margin-top: 90px;
    margin-bottom: 90px; */
}

.left1 {
    grid-area: left1;
    min-height: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 10px;
    position: relative;
}

.right1 {
    grid-area: right1;
    min-height: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 10px;
    position: relative;
}

.product {
   
   
}

.product iframe,
.product video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

@keyframes fullscreenbtnanim {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.fullscreen-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 5;
    border-width: 1px;
    border-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: fullscreenbtnanim 1.5s infinite ease-in-out;
}

/*****************section 6 *************************/

#section-6 #wave2 {
    position: absolute;
    top: 10%;
}

#section-6 #wave1 {
    position: absolute;
    top: 40%;
}


#section-6 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
    font-size: 142px;
}

#section-6 .s1 {
    position: absolute;
    top: 5px;
    left: 45px;
    font-family: podium;
    color: #7800B0;
    font-size: 82px;
}

#section-6 .s2 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: podium;
    color: #111111;
    font-size: 82px;
    width: 400px;
    text-align: center;
    line-height: 1;
    transform-origin: center;
}

#section-6 .s3 {
    position: absolute;
    bottom: 5px;
    right: 45px;
    font-family: podium;
    color: #5C5C5C;
    font-size: 82px;
}

/*****************section 7 *************************/

#section-7 {
    width: 400%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#section-7 div {
    height: 40vw;
    width: 85vh;
    border-width: 5px;
    border-color: #7800B0;
    margin: 60px;
    margin-top: 5vh;
}

.common-h1 {
    font-family: makromed;
    font-size: 38px;
    color: rgb(0, 0, 0);
}

#wed-main-illus {
    width: 294px;
    height: 430px;
    margin-left: 60px;
}

@media (min-width: 2000px) {
    #wed-main-illus {
        width: 494px;
        height: 630px;
    }
}

@media (min-width: 1400px) {

    #cealling-lamp {
        top: -5px;
        width: 168px;
        height: 246px;
    }

    #wed-main-illus {
        width: 394px;
        height: 530px;
    }



}

@media screen and (max-width:1300px) {

    .common-h1 {
        font-size: 32px;
    }

    .left1,
    .right1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-auto-rows: 200px;
    }

}

@media screen and (max-width:1200px) {

    .left1,
    .right1 {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }

}

@media screen and (max-width: 1000px) {



    #sofa-1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 369px;
        height: 120px;
    }

    #mirror {
        position: absolute;
        right: 10%;
        top: 46%;
        width: 48px;
        height: 185px;
        transform: rotate(0deg);
    }

    #windows {
        position: absolute;
        top: 78%;
        left: 10%;
        transform: translateY(-78%);
        width: 107px;
        height: 233px;
    }

    #wed-clock {
        position: absolute;
        top: 60px;
        left: 50px;
        width: 50px;
        height: 54;
        opacity: 0.6;
    }

    #floor-lamp {
        position: absolute;
        top: 35%;
        right: 50px;
        width: 48px;
        height: 304px;
    }

    #sofa {
        position: absolute;
        top: 50%;
        left: 50px;
        width: 134px;
        height: 132px;

    }

    .sec-p-head p,
    .sec-p-head button {
        display: none;
    }

    .common-h1 {
        font-size: 22px;
    }

    .sec-p-head {
        top: 0px;
    }

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 32%;
    }

    .portfolio-grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "main";
        overflow-x: hidden;
        width: fit-content;
        padding-top: 40px;
        margin-top: 60px;
    }

    #section-5 .right1,
    #section-7 .right1 {
        display: none;
    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px 250px 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px 250px 250px;
        grid-auto-rows: 200px;
    }

    #section-6 .left1 {
        display: none;
    }



    #mirror {
        position: absolute;
        right: 10%;
        top: 46%;
        width: 88px;
        height: 225px;
        transform: rotate(0deg);
    }

    #cealling-lamp {
        top: -18px;
        width: 108px;
        height: 186px;
    }

    #street-light {
        top: -10px;
        right: -115px;
        width: 105px;
        height: 323;
    }

    #scroll-assist {
        display: none;
    }

    .slider-container {
        position: relative;
        display: block;
        width: 100vw;
        opacity: 0;
    }

    .full-screen {
        display: block;
    }

    .cnt-for-h {
        height: 250px;
        width: 380px;
        text-align: center;
    }

    #sub-script {
        width: 300px;
    }

    #section-1 h1 {
        font-size: 20px;
    }

    #section-1 sup {
        font-size: 12px;
    }

    #section-1 p {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    #section-1 p sup {
        font-size: 12px;
    }

    #my-vectors {
        display: none;
    }

    #lang-btn {
        top: 35px;
        left: 35px;
    }

    #section-2 .akaar-wedstyle,
    #section-3 .akaar-wedstyle,
    #section-4 .akaar-wedstyle {
        font-size: 10vw;
        font-weight: bolder;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #akaar-presents {
        font-size: 8px;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    #wed-main-illus {
        width: 234px;
        height: 370px;
    }



    #scroll-assist {
        width: 200px;
        height: 35px;
    }

    #scroll-assist :nth-child(1) {
        background-color: #2E4BF5;
        height: 20px;
        width: 40px;
        border-radius: 20px;
    }

    #scroll-assist :nth-child(2),
    #scroll-assist :nth-child(3),
    #scroll-assist :nth-child(4) {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: white;
    }

    #now-booking-wed {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }

    #now-booking-fashion {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }

    #sub-tag-fashion {
        text-align: center;
        width: 500px;
        font-family: montesrrat;
        font-size: 18px;
        /* color: #454440dd; */
        color: white;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 2px 2px 4px #FF2424;
    }

    #now-booking-commercials {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }
}

@media screen and (max-width:850px) {

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 28%;
    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px 250px;
        grid-auto-rows: 200px;
    }


}

@media screen and (max-width:600px) {

    .common-h1 {
        font-size: 16px;
    }

    .sec-p-head {
        left: 5px;
    }

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
        display: none;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 18%;
        display: none;

    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px;
        grid-auto-rows: 200px;
    }
}



.custom-shape-divider-bottom-1724479153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1724479153 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 214px;
}

.custom-shape-divider-bottom-1724479153 .shape-fill {
    fill: #FFFFFF;
}

#contact {
    position: relative;
    height: 100vh;
    background-color:#111111;
    overflow: hidden;
    width: 100%;
}

.custom-shape-divider-top-1724479383 {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1724479383 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 107px;
}

.custom-shape-divider-top-1724479383 .shape-fill {
    fill: #FFFFFF;
}

.contact-div {
    position: relative;
    max-width: 600px;
    height: 500px;
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
    z-index: 6;
    overflow: hidden;
}

.contact-div .heading {
    font-family: makromed;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

#my-rocket-path {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120%;
    height: 100%;
}

#contact .c1{
    position: absolute;
    top:5px;
    left:5px;
    font-size: 92px;
    color: white;
    font-family: naville;
    font-weight: bold;
}
#contact .c1 span{
    color: #7800B0;
}