@font-face {
    font-family: helvetica;
    src: url("./fonts/Helvetica.ttf");
}

@font-face {
    font-family: maison;
    src: url("./fonts/Maison_Neue_Book.ttf");
}

@font-face {
    font-family: organetto;
    src: url("./fonts/organetto-expregular.otf");
}

@font-face {
    font-family: organettoex;
    src: url("./fonts/organetto-expultrabold.otf");
}

@font-face {
    font-family: "Protrakt";
    src: url("./fonts/911porschav3bold.ttf");
}

@font-face {
    font-family: avenir;
    src: url("./fonts/avenir-55-roman-05173.ttf");
}

@font-face {
    font-family: montesrrat;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: makromed;
    src: url("./fonts/MakroTrial-Semibold.otf");
}

@font-face {
    font-family: makroreg;
    src: url("./fonts/MakroTrial-Regular.otf");
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    /* display: none; */
}

.full-screen {
    flex: 0 0 100vw;
    /* Makes each section take up 100% of the container width */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.slider-container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    width: 400vw;
    opacity: 0;
}

.panels {
    transition: background-color 1s ease;
}

#section-1 {
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
}

#section-2 {
    overflow: hidden;
    position: relative;
    background-color: #FFFBEC;
}

#section-3 {
    position: relative;
    overflow: hidden;
    background-color: #FFDBDB;
}

#section-4 {
    position: relative;
    overflow: hidden;
    background-color: #EBD9F3;
}

.cnt-for-h {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 300px;
    width: 780px;
    transform: translate(-50%, -45%);
}

#sub-script {
    width: 800px;
}

#section-1 h1 {
    font-family: organetto;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 20px;
    opacity: 0;
}

#section-1 sup {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0px;
}

#section-1 p {
    margin-top: 50px;
    font-family: maison;
    color: #9b9a9a;
    font-size: 14px;
    opacity: 0;
}

#section-1 p sup {
    font-size: 10px;
}

#section-1 p span {
    font-family: organetto;
}

/**************bulb *************/

#my-bulb-svg {
    position: absolute;
    opacity: 0;
    left: -350px;
    bottom: -330px;
}

#bulb {
    transform: rotate(20deg);
    transform-box: fill-box;
}

#bulb_2 {
    animation: bulbanim 3s ease-in-out infinite;
}

#Vector_23 {
    animation: bulbstringanim 3s ease-in-out infinite;
}

@keyframes bulbanim {

    0%,
    100% {
        fill: #EDB62B;
    }

    50% {
        fill: #ffa200;
        filter: drop-shadow(0px 10px 20px rgba(255, 162, 0, 0.7));
    }
}

@keyframes bulbstringanim {

    0%,
    100% {
        stroke: #FEFEFE;
    }

    50% {
        stroke: #ff4400;
        filter: drop-shadow(0px 10px 20px rgba(255, 162, 0, 0.7));
    }
}


/******** THE GLOBE START ***********/

#my-globe-svg * {
    transform-box: fill-box;
}

#my-globe-svg {
    position: absolute;
    opacity: 1;
    right: 0px;
    top: -170px;
    opacity: 0;
}

[id^="star"] {
    transform-origin: center;
    animation: globestars 3s ease-in-out infinite;
}

#star_2 {
    animation-delay: 0.5s;
}

#star_3 {
    animation-delay: 1s;
}

#star_4 {
    animation-delay: 1.5s;
}

#Globe {
    transform-origin: center;
    animation: globe 4s linear infinite;
}

@keyframes globestars {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }
}

@keyframes globe {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/******************************/

#afx {
    position: absolute;
    top: -140px;
    left: -100px;
    transform-origin: center center;
    opacity: 0;
}

#photofx {
    position: absolute;
    top: 215px;
    right: 120px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-2 {
    position: absolute;
    top: -120px;
    left: 150px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-3 {
    position: absolute;
    top: -120px;
    right: 0px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-4 {
    position: absolute;
    top: 120px;
    right: -150px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-5 {
    position: absolute;
    top: 80px;
    left: -120px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-6 {
    position: absolute;
    top: 245px;
    left: 120px;
    transform-origin: center center;
    opacity: 0;
}

#photofx-1 {
    position: absolute;
    top: 200px;
    left: -140px;
    transform-origin: center center;
    opacity: 0;
}

#hills {
    position: absolute;
    bottom: -80px;
    right: -100px;
    opacity: 0;
}

#akaar-presents {
    position: fixed;
    top: 5%;
    left: calc(50vw);
    transform: translate(-50%, -5%);
    font-family: organettoex;
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bolder;
    opacity: 0;
    z-index: 999;
}

#scroll-assist {
    position: absolute;
    bottom: 20px;
    left: calc(50vw);
    transform: translateX(-50%);
    border-radius: 25px;
    width: 250px;
    height: 40px;
    background-color: #EAEDFE;
    padding: 5px;
    display: flex;
    align-items: center;
    /* Vertically center the items */
    flex-direction: row;
    column-gap: 40px;
    /* Space items evenly with space between */
    transform-origin: center center;
    opacity: 0;
    display: none;
}

#scroll-assist :nth-child(1) {
    background-color: #2E4BF5;
    height: 30px;
    width: 50px;
    border-radius: 20px;
}

#scroll-assist :nth-child(2),
#scroll-assist :nth-child(3),
#scroll-assist :nth-child(4) {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}



#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #ffffff;
    z-index: 99;
}

#full-screen-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #1d1c1ce5;
    z-index: 99;

}

.text-shadow {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white
}

#fscreen {
    width: 70%;
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 85px;

}


#fscreen iframe {
    height: 100%;
    width: 100%;
}

#loading-image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.text-container {
    overflow: hidden;
    position: relative;
    margin-top: 15%;
}

.masked-text {
    font-family: organetto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 18px;
    color: gray;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: right;
}

#lang-btn {
    font-family: Protrakt;
    font-size: 12px;
    position: fixed;
    bottom: 35px;
    left: 35px;
    background-color: #F5F6FF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #2E4BF5;
    z-index: 999;
}


/************************************* section 2 ****************************/

#wedding-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.9;
}

#akaar-wed,
#akaar-wed-shadow {
    background-color: #FFFBEC;
    height: 65px;
}

.akaar-wedstyle {
    text-align: center;
    width: auto;
    font-size: 62px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-family: Protrakt;
    color: black
}

#sub-tag-wed {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgb(249, 158, 0);
}

/******************* street light ****************/

#street-light {
    position: absolute;
    top: -30px;
    right: -400px;
    width: 190px;
    height: 408;
}

#street-light #Vector_8,
#street-light #Vector_9,
#street-light #Vector_10 {
    fill: #FDC469;
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        fill: #ffa200;
        filter: drop-shadow(0px 10px 20px rgba(255, 162, 0, 0.7));
    }
}

/**************** wed clock *****************/

#wed-clock {
    /* opacity: 0; */
    position: absolute;
    top: 60px;
    left: 150px;
    width: 90px;
    height: 94;
    opacity: 0.6;
}

/**************** wed plant *****************/

#wed-plant {
    opacity: 0;
    position: absolute;
    top: 220px;
    right: -480px;
}

#now-booking-wed {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #ffc125db;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-family: makroreg;
    color: white;
    font-size: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

/*************** section 3*****************/

#akaar-fashion,
#akaar-fashion-shadow {
    background-color: #FFDBDB;
    height: 65px;
}

#fashion-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.8;
}

#cealling-lamp * {
    transform-box: fill-box;
}

#cealling-lamp #Group_2,
#cealling-lamp #Group_12 {
    transform-origin: top;
}

#cealling-lamp {
    position: absolute;
    top: -10px;
    left: 10%;
    overflow: visible;
}

#cealling-lamp {
    width: 148px;
    height: 226px;
}

#section-2 #cealling-lamp {
    right: 20%;
    left: auto;
}

#section-4 #cealling-lamp {
    left: 20%;
}

#fashion-illus svg {
    width: 294px;
    height: 430px;
}

#mirror {
    position: absolute;
    right: 10%;
    top: 46%;
    width: 128px;
    height: 265px;
    transform: rotate(45deg);
}

#now-booking-fashion {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #FF2424;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-family: makroreg;
    color: white;
    font-size: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

#sub-tag-fashion {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px #FF2424;
}

#now-booking-commercials {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: #7800B0;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-family: makroreg;
    color: white;
    font-size: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

#sub-tag-commercials {
    text-align: center;
    width: 500px;
    font-family: montesrrat;
    font-size: 18px;
    /* color: #454440dd; */
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px #7800B0;
}

/***************** section 4************************/

#akaar-commercials,
#akaar-commercials-shadow {
    background-color: #EBD9F3;
    height: 65px;
}

#commercials-illus {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.8;
}

#commercials-illus svg {
    width: 294px;
    height: 430px;
}

/*****************section 5 *************************/

.sec-p-head {
    position: absolute;
    top: 20%;
    right: 5px;
}

.sec-p-head p {
    margin-top: 20px;
    font-family: makroreg;
    width: 400px;
    font-size: 12px;
    color: rgb(99, 99, 99);
    word-spacing: 3px;
}

#get-in-touch-fashion {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #FF2424;
    color: white;
    font-family: makroreg;
    font-size: 10px;
}

#get-in-touch-wed {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #EDB62B;
    color: white;
    font-family: makroreg;
    font-size: 10px;
}

#get-in-touch-commercial {
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
    height: 40px;
    background-color: #7800B0;
    color: white;
    font-family: makroreg;
    font-size: 10px;
}

#section-6 .sec-p-head {
    left: 5px;
    right: auto;
}

#section-5 {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: #FFFFFF;
    overflow: auto;
}

#section-5 #wave {
    position: absolute;
    top: -5px;
}

.portfolio-grid {
    position: relative;
    max-width: 1340px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-template-areas: "left1 right1";
    margin-top: 90px;
    margin-bottom: 90px;
}

.left1 {
    grid-area: left1;
    min-height: 500px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 10px;
    position: relative;
}

.right1 {
    grid-area: right1;
    min-height: 500px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 10px;
    position: relative;
}

.product {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
}

.product iframe,
.product video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

@keyframes fullscreenbtnanim {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.fullscreen-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 5;
    border-width: 1px;
    border-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: fullscreenbtnanim 1.5s infinite ease-in-out;
}

/*****************section 6 *************************/

#section-6 #wave2 {
    position: absolute;
    top: 10%;
}

#section-6 #wave1 {
    position: absolute;
    top: 40%;
}


#section-6 {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: #FFFFFF;
    overflow: auto;
}

/*****************section 7 *************************/

#section-7 {
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: #FFFFFF;
    overflow: auto;
}

.common-h1 {
    font-family: makromed;
    font-size: 42px;
    color: rgb(0, 0, 0);
}

#wed-main-illus {
    width: 294px;
    height: 430px;
    margin-left: 60px;
}

@media (min-width: 2000px) {
    #wed-main-illus {
        width: 494px;
        height: 630px;
    }

    #fashion-illus svg {
        width: 494px;
        height: 630px;
    }

    #commercials-illus svg {
        width: 494px;
        height: 630px;
    }

    .akaar-wedstyle {
        font-size: 102px;
    }


    #akaar-fashion,
    #akaar-fashion-shadow {
        height: 108px;
    }

    #akaar-wed,
    #akaar-wed-shadow {
        height: 108px;
    }

    #akaar-commercials,
    #akaar-commercials-shadow {
        height: 108px;
    }
}

@media (min-width: 1400px) {

    #cealling-lamp {
        top: -5px;
        width: 168px;
        height: 246px;
    }

    #wed-main-illus {
        width: 394px;
        height: 530px;
    }

    #fashion-illus svg {
        width: 394px;
        height: 530px;
    }

    #commercials-illus svg {
        width: 394px;
        height: 530px;
    }

    .akaar-wedstyle {
        font-size: 82px;
    }


    #akaar-fashion,
    #akaar-fashion-shadow {
        height: 88px;
    }

    #akaar-wed,
    #akaar-wed-shadow {
        height: 88px;
    }

    #akaar-commercials,
    #akaar-commercials-shadow {
        height: 88px;
    }
}

@media screen and (max-width:1300px) {

    .common-h1 {
        font-size: 32px;
    }

    .left1,
    .right1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-auto-rows: 200px;
    }

}

@media screen and (max-width:1200px) {

    .left1,
    .right1 {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }

}

@media screen and (max-width: 1000px) {

    .sec-p-head p,
    .sec-p-head button {
        display: none;
    }

    .common-h1 {
        font-size: 22px;
    }

    .sec-p-head {
        top: 0px;
    }

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 32%;
    }

    .portfolio-grid {

        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "main";
        overflow-x: hidden;
        width: fit-content;
        padding-top: 40px;
        margin-top: 70px;
        margin-bottom: 0px;
    }

    #section-5 .right1,
    #section-7 .right1 {
        display: none;
    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px 250px 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px 250px 250px;
        grid-auto-rows: 200px;
    }

    #section-6 .left1 {
        display: none;
    }



    #mirror {
        position: absolute;
        right: 10%;
        top: 46%;
        width: 88px;
        height: 225px;
        transform: rotate(45deg);
    }

    #cealling-lamp {
        top: -18px;
        width: 108px;
        height: 186px;
    }

    #street-light {
        top: -10px;
        right: -115px;
        width: 105px;
        height: 323;
    }

    #wed-clock {
        left: 50px;
        width: 60px;
        height: 64;
    }

    #scroll-assist {
        display: none;
    }

    .slider-container {
        position: relative;
        display: block;
        width: 100vw;
        opacity: 0;
    }

    .full-screen {
        display: block;
    }

    .cnt-for-h {
        height: 300px;
        width: 380px;
        text-align: center;
    }

    #sub-script {
        width: 300px;
    }

    #section-1 h1 {
        font-size: 20px;
    }

    #section-1 sup {
        font-size: 12px;
    }

    #section-1 p {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    #section-1 p sup {
        font-size: 12px;
    }

    #my-vectors {
        display: none;
    }

    #lang-btn {
        top: 35px;
        left: 35px;
    }

    .akaar-wedstyle {
        font-size: 26px;
    }


    #akaar-fashion,
    #akaar-fashion-shadow {
        height: 28px;
    }

    #akaar-wed,
    #akaar-wed-shadow {
        height: 28px;
    }

    #akaar-commercials,
    #akaar-commercials-shadow {
        height: 28px;
    }


    #akaar-presents {
        font-size: 8px;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    #wed-main-illus {
        width: 234px;
        height: 370px;
    }

    #fashion-illus svg {
        width: 234px;
        height: 370px;
    }

    #commercials-illus svg {
        width: 234px;
        height: 370px;
    }

    #scroll-assist {
        width: 200px;
        height: 35px;
    }

    #scroll-assist :nth-child(1) {
        background-color: #2E4BF5;
        height: 20px;
        width: 40px;
        border-radius: 20px;
    }

    #scroll-assist :nth-child(2),
    #scroll-assist :nth-child(3),
    #scroll-assist :nth-child(4) {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: white;
    }

    #now-booking-wed {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }

    #now-booking-fashion {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }

    #sub-tag-fashion {
        text-align: center;
        width: 500px;
        font-family: montesrrat;
        font-size: 18px;
        /* color: #454440dd; */
        color: white;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 2px 2px 4px #FF2424;
    }

    #now-booking-commercials {
        height: 90px;
        width: 90px;
        font-size: 10px;
    }
}

@media screen and (max-width:850px) {

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 28%;
    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px 250px;
        grid-auto-rows: 200px;
    }


}

@media screen and (max-width:600px) {

    .common-h1 {
        font-size: 16px;
    }

    .sec-p-head {
        left: 5px;
    }

    #section-6 #wave2 {
        position: absolute;
        top: 10%;
        display: none;
    }

    #section-6 #wave1 {
        position: absolute;
        top: 18%;
        display: none;

    }

    #section-5 .left1,
    #section-7 .left1 {
        grid-area: main;
        grid-template-columns: 250px;
        grid-auto-rows: 200px;
    }


    #section-6 .right1 {
        grid-area: main;
        grid-template-columns: 250px;
        grid-auto-rows: 200px;
    }
}



.custom-shape-divider-bottom-1724479153 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1724479153 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 214px;
}

.custom-shape-divider-bottom-1724479153 .shape-fill {
    fill: #FFDBDB;
}

#contact {
    position: relative;
    min-height: 700px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.custom-shape-divider-top-1724479383 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1724479383 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 107px;
}

.custom-shape-divider-top-1724479383 .shape-fill {
    fill: #FFDBDB;
}

.contact-div {
    position: relative;
    max-width: 800px;
    height: 500px;
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.129);
    z-index: 6;
    overflow: hidden;
}

.contact-div .heading {
    font-family: makromed;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}

#my-rocket-path {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#myrocket {}